<body>
  <%- include("partials/header") %>

  <style media="screen">
    body {
      background-color: black;
      color: white;
    }

    form {
      max-width: 500px;
      margin-left: auto;
      margin-right: auto;
    }
  </style>
  <form class="" action="/sendmoney" method="post">
    <div class="form-group">
      <!-- <center> -->
      <label for="from">FROM: <%=currentUser%></label>
      <br>
      <label for="to">TO:</label>
      <select class="form-control" name="to" id="to" required>
        <option name="" selected disabled>To Account</option>
        <%Bank.forEach(function(customer){%>
        <option name="<%-customer%>"><%-customer%> </option>
        <%});%>
      </select>
      <br>
      <p>BALANCE: Rs. <%=balance%></p>
      <label for="amount">AMOUNT:</label>
      <input type="number" class="form-control" name="amount" required id="amount" value="" placeholder="100">
      <br>
      <label for="remarks">REMARKS:</label>
      <input type="text" class="form-control" name="remarks" required id="remarks" value="" placeholder="Diwali Bonus">
      <br>
      <button type="submit" class="btn btn-primary">Send Money</button>
      <!-- </center> -->

  </form>






</body>